@using BugIssuer.Web.Extensions;
@using BugIssuer.Domain;
@model IEnumerable<Issue>
@{
    var currentSort = Convert.ToString(ViewData["CurrentSort"]);
    var currentFilter = Convert.ToString(ViewData["CurrentFilter"]);
    var btnAll = string.IsNullOrEmpty(currentFilter) || currentFilter == "All" ? "btn-primary" : "btn-light";
    var btnOpen = currentFilter == "Open" ? "btn-primary" : "btn-light";
    var btnOngoing = currentFilter == "Ongoing" ? "btn-primary" : "btn-light";
    var btnClosed = currentFilter == "Closed" ? "btn-primary" : "btn-light";
}

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><a href="?sortOrder=@ViewData["IdSortParm"]&filterStatus=@currentFilter">Issue Id</a></th>
                <th><a href="?sortOrder=@ViewData["CategorySortParm"]&filterStatus=@currentFilter">Category</a></th>
                <th><a href="?sortOrder=@ViewData["TitleSortParm"]&filterStatus=@currentFilter">Title</a></th>
                <th><a href="?sortOrder=@ViewData["AuthorSortParm"]&filterStatus=@currentFilter">Author</a></th>
                <th><a href="?sortOrder=@ViewData["DateTimeSortParm"]&filterStatus=@currentFilter">DateTime</a></th>
                <th><a href="?sortOrder=@ViewData["LastUpdateSortParm"]&filterStatus=@currentFilter">Last Update</a></th>
                <th><a href="?sortOrder=@ViewData["CommentsSortParm"]&filterStatus=@currentFilter">Comments</a></th>
                <th><a href="?sortOrder=@ViewData["AssigneeSortParm"]&filterStatus=@currentFilter">Assignee</a></th>
                <th><a href="?sortOrder=@ViewData["UrgencySortParm"]&filterStatus=@currentFilter">Urgency</a></th>
                <th><a href="?sortOrder=@ViewData["StatusSortParm"]&filterStatus=@currentFilter">Status</a></th>
            </tr>
        </thead>
        <tbody>
            <div id="issue-list-container">
                @foreach (var issue in Model)
                {
                <tr class="clickable-row" data-href="/Home/Issue/@issue.IssueId">
                    <td>@issue.IssueId</td>
                    <td>@issue.Category</td>
                    <td>@issue.Title</td>
                    <td>@issue.Author</td>
                    <td>@issue.Date</td>
                    <td>@issue.LastUpdateDate</td>
                    <td>@issue.Comments.Count</td>
                    <td>@issue.Assignee</td>
                    <td><span class="@Badge.UrgencyToBadge(issue.Urgency)">@issue.Urgency</span></td>
                    <td><span class="@Badge.StatusToBadge(issue.Status)">@issue.Status</span></td>
                </tr>
            }
            </div>
        </tbody>
    </table>
</div>

<script>document.addEventListener("DOMContentLoaded", function () {
    var rows = document.querySelectorAll(".clickable-row");
    rows.forEach(function (row) {
        row.addEventListener("click", function () {
            window.location = row.getAttribute("data-href");
        });
    });
});</script>