@using BugIssuer.Web.Extensions;
@model IssuesViewModel
@{
    var currentSort = Model.SortOrder;
    var currentFilter = Model.FilterStatus;
    var btnAll = string.IsNullOrEmpty(currentFilter) || currentFilter == "All" ? "btn-primary" : "btn-light";
    var btnOpen = currentFilter == "Open" ? "btn-primary" : "btn-light";
    var btnOngoing = currentFilter == "Ongoing" ? "btn-primary" : "btn-light";
    var btnClosed = currentFilter == "Closed" ? "btn-primary" : "btn-light";
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <a href="?filterStatus=All&sortOrder=@currentSort" class="btn @btnAll">All</a>
        <a href="?filterStatus=Open&sortOrder=@currentSort" class="btn @btnOpen">Open</a>
        <a href="?filterStatus=Ongoing&sortOrder=@currentSort" class="btn @btnOngoing">Ongoing</a>
        <a href="?filterStatus=Closed&sortOrder=@currentSort" class="btn @btnClosed">Closed</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><a href="?sortOrder=@(Model.SortOrder == "IssuedId" ? "id_desc" : "IssuedId")&filterStatus=@currentFilter">Issue Id</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "Category" ? "category_desc" : "Category")&filterStatus=@currentFilter">Category</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "Title" ? "title_desc" : "Title")&filterStatus=@currentFilter">Title</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "Author" ? "author_desc" : "Author")&filterStatus=@currentFilter">Author</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "DateTime" ? "datetime_desc" : "DateTime")&filterStatus=@currentFilter">DateTime</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "LastUpdate" ? "lastupdate_desc" : "LastUpdate")&filterStatus=@currentFilter">Last Update</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "Comments" ? "comments_desc" : "Comments")&filterStatus=@currentFilter">Comments</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "Assignee" ? "assignee_desc" : "Assignee")&filterStatus=@currentFilter">Assignee</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "Label" ? "label_desc" : "Label")&filterStatus=@currentFilter">Label</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "Urgency" ? "urgency_desc" : "Urgency")&filterStatus=@currentFilter">Urgency</a></th>
                <th><a href="?sortOrder=@(Model.SortOrder == "Status" ? "status_desc" : "Status")&filterStatus=@currentFilter">Status</a></th>
            </tr>
        </thead>
        <tbody>
            <div id="issue-list-container">
                @foreach (var issue in Model.Issues)
                {
                <tr class="clickable-row" data-issue-id="@issue.IssueId">
                    <td>@issue.IssueId</td>
                    <td>@issue.Category</td>
                    <td>@issue.Title</td>
                    <td>@issue.Author</td>
                    <td>@issue.Date</td>
                    <td>@issue.LastUpdateDate</td>
                    <td>@issue.Comments.Count</td>
                    <td>@issue.Assignee</td>
                    <td><span class="@Badge.LabelToBadge(@issue.Label)">@issue.Label</span></td>
                    <td><span class="@Badge.UrgencyToBadge(issue.Urgency)">@issue.Urgency</span></td>
                    <td><span class="@Badge.StatusToBadge(issue.Status)">@issue.Status</span></td>
                </tr>
            }
            </div>
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var rows = document.querySelectorAll(".clickable-row");
        rows.forEach(function (row) {
            row.addEventListener("click", function () {
                var issueId = this.getAttribute('data-issue-id');
                window.location.href = '@Url.Action("Issue", "Issues")/' + issueId
            });
        });
    });
</script>